<div class="container">
    <div class="col-md-12 heading">
        <h3 ></h3>
    </div>

    <div class="jumbotron">
        <h3>Beads</h3>
        <table class="table">
            <thead>
                <tr><th></th><th>Bead Type</th><th>Lot size</th><th>Price</th></tr></tr>
            </thead>
            <tbody ng-repeat="bead in beads">
                <tr>
                    <td><button class="btn btn-primary" ng-click="editBeads($event, $index)">Edit</button></td>
                    <td>{{bead.bead_type}}</td><td>{{bead.lotsize}}</td><td>{{bead.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
