<md-dialog layout-padding aria-label="Edit Entry">
  <h4>Edit Entry: {{bead_type}}</h4>
  <br>
    <md-content layout-padding layout="column" style="max-width:100%; max-height:100%;">
      <div id="mediumDiv">

        <div class="form-group">
          <label for="bead_type_jp">Name (JP):</label>
          <input class="form-control" type="text" ng-model="bead_type_jp"  ng-bind="bead_type_jp">
        </div>

        <div class="form-group">
          <label for="desc">Description:</label>
          <input class="form-control" type="text" ng-model="desc"  ng-bind="desc">
        </div>

        <div class="form-group">
          <label for="lotsize">Lot size:</label>
          <input class="form-control" type="text" ng-model="lotsize" ng-bind="lotsize">
        </div>

        <div class="form-group">
          <label for="price">Price:</label>
          <input class="form-control" type="text" ng-model="price"  ng-bind="price">
        </div>
      </div>

      <md-dialog-actions>
        <md-button class="md-warn md-raised" ng-click="cancel()">Cancel</md-button>
        <md-button class="md-primary md-raised" ng-click="ok(lotsize, price, bead_type_jp, desc);">Update</md-button>
      </md-dialog-actions>
    </md-content>
</md-dialog>
