<div class="container">
    <!-- div class="col-md-12 heading">
        <h3 ></h3>
    </div -->

    <div class="jumbotron">
        <h3>Hospitals</h3>
        <table class="table">
            <thead>
                <tr>
                  <th></th><th>Name</th><th>Postal</th><th>Address</th><th>Phone</th><th>Department</th><th>Title</th>
                  <th>Contact1</th><th>Contact2</th><th>Email</th>
                </tr>
            </thead>
            <tbody ng-repeat="hospital in hospitals">
                <tr>
                    <td><button class="btn btn-primary" ng-click="editHospitals($event, $index)">Edit</button></td>
                    <td>{{hospital.name}}</td><td>{{hospital.postal}}</td><td>{{hospital.address}}</td><td>{{hospital.phone}}</td><td>{{hospital.dept}}</td><td>{{hospital.title}}</td>
                    <td>{{hospital.contact1}}</td><td>{{hospital.contact2}}</td><td>{{hospital.email}}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-warning" ng-click="insertHospitals($event, $index)">New</button>
    </div>
</div>
